* {
    box-sizing: border-box;
}
.container {display:grid; 
    grid-template-rows: auto 1fr auto;
   grid-template-columns: 100%;}
header {
    grid-row: 1 / 2;
    grid-column: 1;
    background-color: #e7e4ef;
    padding: 15px;
}
header h1 {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px;
}
/*main {
    grid-row: 2 / 3;
    grid-column: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}*/
footer {
    grid-row: 3 / 4;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* header, nav, and hero section */
.nav-button {
    display: inline;
    color: #1e1866;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin: 10px;
}
.nav-button:hover {
    opacity: 60%;
    transition-duration: 0.4s;
}
.header {
    display: flex;
}
.open-title {
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 125px;
    line-height: 1;
    color: #1e1866;
}
.header-nav {
    width: 50%;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.hero {
    text-align: center;
    margin: 6em ;
    color: #1e1866;
}
.work-header {
    text-align: center;
    margin: 2em;
}
/* nav CF */
.nav-position {
    display: inline-block;
    margin-top: 60px;
}
.title-position {
    display: inline-block;
}
.title {
    font-family: 'Zen Tokyo Zoo', sans-serif;
    font-size: 125px;
    line-height: 1;
    color: #1e1866;
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position:relative;
}
.navtoggle li .icon {
    position: absolute;
    left: 150px;
    right: 0;
    top: 200px;
    padding-right: 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
}
.navtoggle.responsive nav {
    padding: 24px 0 0;
}

/* work homepage */
.project-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
   
}
.thumbnail-container {
    margin: 10px;
    display: flex;
    align-items: center;
}
.thumbnail {
    margin: 10px;
    padding: 10px;
    width: 60%;
}
.thumbnail-text {
    margin: 5px;
    padding: 10px;
    width: 40%;
}
/* project pages */
.project-pictures-t {
    padding-left: 15%;
    padding-right: 15%;
}
.project-pictures-dt {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #fff3e4;
    margin-left: 20px;
    margin-right: 20px;
}
.project-pictures-p {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #f4f2f0;
    margin-left: 20px;
    margin-right: 20px;
}
.project-text {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 16%;
    padding-right: 16%;
}
/* about content */
.about-container {
    display: flex;
    flex-direction: column;
}
.about-header {
    text-align: center;
    margin: 15px;
    color: #1e1866;
}
.picture-center {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.picture-text {
    background: #e7e4ef;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.skills-tools {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #e7e4ef;
    margin: 10px;
}
.skills {
    text-align: left;
    margin: 10px;
    padding: 10px;
    width: 30%;
}
.tools {
    text-align: left;
    margin: 10px;
    padding: 10px;
    width: 30%;
}
/* resume */
.resume {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 20px;
}
/* footer */
.footer-button {
    display: inline;
    margin: 5px;
}
.footer-list {
    display: flex;
    justify-content: center;
}
.footer-text {
    text-align: center;
}
.icon-size {
    width: 40px;
    height: 40px;
}
.icon-email {
    width: 50px;
    height: 40px;
}
/* animation */
.animation-position {
    display: flex;
    align-items: center;
}
.sun-icon {
    padding: 5px;
    position: relative;
    margin: 10px;
    animation: spin 8s infinite alternate;}
@keyframes spin {
        0%, 100% {color:#e7e4ef; left:0; top:0;}
        50% {color:#1e1866; left:50%; top:0; transform: rotate(180deg);}
    }
.line-animation {
    position: relative;
    animation: back-forth 8s infinite alternate;
}
@keyframes back-forth {
    0%,100% {color:#e7e4ef; left:0; top:0;}
    50% {color:#1e1866; left:50%; top:0;}

}
/* contact page */
.contact-text {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.contact-list {
    margin: auto;
    text-align: center;
}
.form {
    background: #e7e4ef;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.form-input {
    margin: 10px;
    padding: 10px;
}
.contact-copyright {
    margin-top: 10%;
    text-align: center;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {max-width: 100%;}
/* fonts and font size */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;
}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 700;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}
/* buttons */
.button {
    text-align: center;
    text-decoration: none;
    background-color: #e7e4ef;
    color: #1e1866;
    font-weight: 400;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #1e1866;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:visited {
    opacity: 60%;
}
.button:hover {
    background-color: #1e1866;
    color: #e7e4ef;
}
.button:active {
    background-color: #1e1866;
    color: #e7e4ef;
}
.footer-button {
    text-decoration: none;
    color: #1e1866;
}
/* media queries */
#slicknav-menu { display: none;}
@media only screen and (max-width:767px) {
    #menu {display:none;}
    #slicknav-menu {
        display:block; 
        float: right;
        padding: 10px;
        margin: 10px;}
    #slicknav-menu ul {
        display:flex; 
        flex-direction: column; 
        z-index: 999999;}
    }
@media only screen and (min-width: 768px) {
    /* work-content */
    .project-container {
        margin: 5px;
        display: flex;
    }
    .thumbnail1 {
        margin: 10px;
        padding: 10px;
    }
    .thumbnail-container1 {
        margin: 10px;
        display: flex;
        align-items: center;
    }
    .thumbnail-text1 {
        width: 70%;
        padding: 10px;
        margin: 5px;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display:none;
    }
}
/* colors: black - HEX191919, purple: 1E1866 lavender: HexF6F2FF